.suggesetionbox {
    position: absolute;
    top: 53px;
    z-index: 100;
    width: 554px;
    min-height: 100px;
    background-color: #fff;
}

.SearchContainer {
    width: 100%;
    position: relative;
}