// .container-scroll-categories {
//     width: 180px;
//     height: 600px;
//     overflow-x: scroll;
//     transform: rotate(-90deg);
//   }
  
//   .content-scroll-categories {
//     width: 140px;
//     height: 140px;
//     margin: 10px;
//     transform: rotate(90deg);
//   }
.border-light-custom {
    border-color: #e2e2cc !important;
}
/* Add this CSS to your stylesheet */
.ram-rom-separator {
    display: flex; /* Make the separator a flex container */
    align-items: center; /* Vertically center the "-" */
    justify-content: space-between; /* Create space around the "-" */
}

.ram-rom-separator > span {
    margin: 0 0.1rem; /* Adjust the spacing around the "-" */
}
.td-actions {
	vertical-align: middle;
	margin: 10px 0;
  }
//   :where(.css-dev-only-do-not-override-sk7ap8).ant-pagination .ant-pagination-item a {
//     display: block;
//     padding: 0 6px;
//     color: rgba(0, 0, 0, 0.88);
//     transition: none;
//     border: 1px solid #007bff;
// }
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the spinner div to occupy the full viewport height */
}

.loader {
    position: relative;
    left: 50%;
    top: 250px;
    z-index: 9999;
}
// .client-loader {
//     position: relative;
//     top: 50%;
//     left: 50%;
// }
.bg-primary-custom {
    background-color: #34568b;
}

.icon-custom i {
    color: #34568b;
}
.tag-library-image {
    font-size: 17px;
}
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}
.sidebar-brand-text.mx-3 {
    font-size: 10px;
}
.client-layout {
    .custom-hero-section {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
    color: black;
}
.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.image-gallery-content.left {
    height: 120%;
}
.client-layout {
    .top-nav {
        .tn-right {
            .language-option {
                a {
                    font-size: 16px;
                    color: #19191a;
                    font-weight: 500;
                    display: inline-block;
                    position: relative;
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    &:after {
                        position: absolute;
                        left: 0;
                        top: 25px;
                        width: 100%;
                        height: 2px;
                        background: #dfa974;
                        content: '';
                        opacity: 0;
                        -webkit-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                }
            }
            a.active {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .sticky {
        position: relative;
        z-index: -1;
    }
}
button.close {
    color: #f8f9fa !important;
}
// .modal-booking-now {
//     width: 65vw; /* Occupy the 90% of the screen width */
//     max-width: 65vw;
// }
// .modal-booking-online-detail {
//     width: 70vw; /* Occupy the 90% of the screen width */
//     max-width: 70vw;
// }
.modal-70w {
    min-width: 70%;
}
.client-input-number {
    padding-left: 21px;
}
.host-input-number {
    padding-left: 30%;
}
// React-datepicker
.example-custom-input {
    background: url('../../../public/calendar.svg') no-repeat right;
    background-size: 20px;
    width: 240px;
    height: 24px;
}
.react-datepicker__day--selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__day--in-selecting-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__day--in-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__month-text--selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__month-text--in-selecting-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__month-text--in-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__quarter-text--selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__quarter-text--in-selecting-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__quarter-text--in-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__year-text--selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__year-text--in-selecting-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__year-text--in-range {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        border-radius: 50%;
    }
}
.react-datepicker__day--keyboard-selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        background-color: #b51148;
        border-radius: 50%;
        border-radius: 50%;
    }
}
.react-datepicker__month-text--keyboard-selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        background-color: #b51148;
        border-radius: 50%;
        border-radius: 50%;
    }
}
.react-datepicker__quarter-text--keyboard-selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        background-color: #b51148;
        border-radius: 50%;
        border-radius: 50%;
    }
}
.react-datepicker__year-text--keyboard-selected {
    background-color: #b51148;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
    border: 1px solid #b51148;
    margin: 0.066rem;
    &:hover {
        background-color: #b51148;
        background-color: #b51148;
        border-radius: 50%;
        border-radius: 50%;
    }
}
.react-datepicker__day {
    &:hover {
        border-radius: 50%;
    }
}
.react-datepicker__month-text {
    &:hover {
        border-radius: 50%;
    }
}
.react-datepicker__quarter-text {
    &:hover {
        border-radius: 50%;
    }
}
.react-datepicker__year-text {
    &:hover {
        border-radius: 50%;
    }
}
.example-datepicker-class {
    .react-datepicker__today-button {
        color: #b51148;
        background-color: white;
        border-top: 0px;
        text-align: right;
        margin-right: 20px;
    }
}
.bootstrap-select .btn:focus {
    outline: none !important;
}
.form-control:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}
button.btn.btn-outline-secondary.btn-number {
    z-index: 0;
}
//360
.cloudimage-360 {
	.cloudimage-360-prev {
		padding: 8px;
		background: rgba(255, 255, 255, 0.5);
		border: none;
		border-radius: 4px;
		display: none;
		position: absolute;
		z-index: 100;
		top: calc(50% - 15px);
		left: 20px;
		&:focus {
			outline: none;
		}
		&:before {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background: 50% 50% / cover no-repeat;
			background-image: url('https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-left.svg');
		}
	}
	.cloudimage-360-next {
		padding: 8px;
		background: rgba(255, 255, 255, 0.5);
		border: none;
		border-radius: 4px;
		display: none;
		position: absolute;
		z-index: 100;
		top: calc(50% - 15px);
		right: 20px;
		&:focus {
			outline: none;
		}
		&:before {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background: 50% 50% / cover no-repeat;
			background-image: url('https://cdn.scaleflex.it/plugins/js-cloudimage-360-view/assets/img/arrow-right.svg');
		}
	}
	.cloudimage-360-prev.not-active {
		opacity: 0.4;
		cursor: default;
	}
	.cloudimage-360-next.not-active {
		opacity: 0.4;
		cursor: default;
	}
}
.cloudimage-360-magnifier-icon {
	background: url('http://localhost:3000/img/image360/kinhlup.png') 50% 50% / cover no-repeat !important;
    border-radius: 50%;
}
.cloudimage-360-fullscreen-icon {
	background: url('http://localhost:3000/img/image360/fullscreen.png') 50% 50% / cover no-repeat !important;
    border-radius: 50%;
    padding: 10px;

}
